APP_ENV=
API_TOKEN=
JWT_SECRET=
PORT=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_NAME=
DB_HOST=
COOKIE_NAME=

# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=

# Version of Elastic products
ELASTIC_STACK_VERSION=

# Set the cluster name
ES_CLUSTER_NAME=

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=
#LICENSE=

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=

# Port to expose Kibana to the host
KIBANA_PORT=

# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=
KB_MEM_LIMIT=
LS_MEM_LIMIT=

# SAMPLE Predefined Key only to be used in POC environments
ELASTIC_ENCRYPTION_KEY=
